// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
// CSS rules to specify families

// font-family: 'Suez One', serif;

// <style>
// @import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
// </style>

// CSS rules to specify families

// font-family: 'Suez One', serif;

body {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color:rgb(237, 250, 250);
}


// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

@mixin white-text-teal-bg {
  color: white;
  background-color: teal;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-teal-bg;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;

    div {
      margin: 10px;
      font-size: large;
    }
  }
}

// footer 